body{
	
	background-image: url("https://www.wallpaperboulevard.com/Images/product/salvin-light-grey-texture-wallpaper-quwg-l.jpg");
}
#main-body{
	padding: 30px 40px;
	margin: 10px;
}
#email{
	color: grey;
	text-decoration: underline;
}

hr{
	color: lightgrey;
}
#statement{
	text-align: justify;
	color: grey;
	width: 75%;
}

img{
	border: 1px solid grey;
	padding: 10px;
	position: absolute;
	top: 20px;
	right: 50px;
	z-index: 1;
	width: 150px;
	height: 200px;
	border-radius: 5px;
	box-shadow: 5px 10px 10px rgba(0,0,0, .8);
	transform: rotate(-5deg);
}

main{
	margin: 80px 80px 60px 40px;
}

.section-left{
	clear: right;
	float: left;
	margin-right: 20px;
}
.section-right{
	float: right;
	width: 70%;
	border-left: 3px solid lightgrey;
	padding-left: 50px;
	margin-bottom: 15px;

}

.inline-head{
	display: inline;
	margin-right: 60px;
}

.work-period{
	color: grey;
	font-size: 0.8em;
}

